/* Styling for the ngProgress itself */
#ngProgress {
    margin: 0;
    padding: 0;
    z-index: 99998;
    background-color: green;
    color: green;
    box-shadow: 0 0 10px 0; /* Inherits the font color */
    height: 2px;
    opacity: 0;

    /* Add CSS3 styles for transition smoothing */
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

/* Styling for the ngProgress-container */
#ngProgress-container {
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
}

.header-mg{
    display: block;
    background: #666666;
    padding: 20px;
    padding-right: 100px;
    text-align: right;
    height:10vh;
    box-sizing: border-box;

}

.header-mg button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin-left: 10px;
}

.header-mg .label-mg{
    color: white;
    font-size: 13px;
    display: inline-block;
    margin-right: 20px;
}

.main-wrapper{
    padding: 20px 50px;
    background: #EFEFEF;
    min-height:90vh;
    box-sizing: border-box;
}

.padding20{
    padding-left: 20px;
}

.high-light{
    background: #abb4f9;
}