<!DOCTYPE>
<html ng-app="myApp">
<head>
  <title>Simple demonstration of AngularJS with ReSTful API - AngularCode</title>
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/ngProgress.css">
<link rel="stylesheet" href="css/toaster.css">
</head>
<body ng-cloak>

  <div class="" source-tree ng-controller="MainCtrl">
     <div class="header-mg">
        <span class="label">URL</span>
         <input  type="text" ng-model="webUrl">
         <button clear-data ng-click="getData()">Get Content</button>
    </div>
    <div  class="main-wrapper"  id="contentId"   highlight >
    </div>
    
  </div>

<div data-loading></div>
<toaster-container toaster-options="{'time-out': 3000, 'close-button':true, 'animation-class': 'toast-top-center'}"></toaster-container>

<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/angular-resource.min.js"></script>
<script src="js/angular-animate.min.js"></script>
<script src="js/toaster.js"></script>
<script src="app/app.js"></script>
<script src="app/mainController.js"></script>
</body>
</html>
